:root {
--darkgray: #24262C;
--lightgray: #E9E9EA;
--white: #fff;
--red: #FF795F;
--font-family: "TextaNarrow", sans-serif;
--content-max-width: 760px;
}

@font-face {
font-family: "TextaNarrow";
font-weight: 400;
src:    url("~assets/fonts/texta-narrow-book.eot");
src:    url("~assets/fonts/texta-narrow-book.eot?#iefix") format("embedded-opentype"),
        url("~assets/fonts/texta-narrow-book.woff2") format("woff2"),
        url("~assets/fonts/texta-narrow-book.woff") format("woff"),
        url("~assets/fonts/texta-narrow-book.ttf") format("truetype");
}

@font-face {
font-family: "TextaNarrow";
font-weight: 600;
src:    url("~assets/fonts/texta-narrow-bold.eot");
src:    url("~assets/fonts/texta-narrow-bold.eot?#iefix") format("embedded-opentype"),
        url("~assets/fonts/texta-narrow-bold.woff2") format("woff2"),
        url("~assets/fonts/texta-narrow-bold.woff") format("woff"),
        url("~assets/fonts/texta-narrow-bold.ttf") format("truetype");
}

html, body, p, a, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body, html {
    background: var(--darkgray);
    font-family: var(--font-family);
}

header {
    margin-bottom: 104px;
}

/* .section:first-of-type {
background: none;
} */

h2 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
}

p {
    font-size: 40px;
    margin-top: 24px;
}

p.small {
    font-size: 28px;
    opacity: .4;
}

/* .zoom-enter-active,
.zoom-leave-active {
    transition: opacity .5s
}

.zoom-enter, .zoom-leave-active {
    opacity: 0
} */