// redeclare colors as SASS variables for use in RGBA;
$darkgray: #24262C;
$lightgray: #E9E9EA;
$red: #FF795F;

$bp-desktop: 920px; // --content-max-width
$bp-case-layout: 850px; // show cases next to each other
$bp-controls-layout: 960px; // hide controls below, move logo
$bp-tablet: 650px;
$bp-mobile: 450px;